.matrixtable{
    background-color: white;
    font-size: 5em;
}
.matrixtable {
    background-color: purple;
    th:hover{
        background-color: blue;
    }
}

.matrixrowvalue {
    color: mediumblue;
}
.matrixrowvalue:hover {
    background-color: lightskyblue;
}

col.colhover{
    background-color: peru;
}

.matrixrowvalue.seeallvalues{
    background-color: black;
    color: white;
}

.rowActive {
    background-color: gold;
}


.colActive {
    background-color: gold;
}


