<!-- <div class = "matrix">
    <table>
        <tbody>
            <tr *ngFor = "let value of board">
                <td>{{value}}</td>
            </tr>
        </tbody>
    </table>
</div>  -->
<div class="buffer">

</div>
<div class="sequences">
    <table class="sequencetable">
        <tr class="sequencerow">
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.firstSequence">
                {{rowValue}}
            </th>
        </tr>
        <tr class="sequencerow">
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.secondSequence">
                {{rowValue}}
            </th>
        </tr>
        <tr class="sequencerow" >
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.secondSequence">
                {{rowValue}}
            </th>
        </tr>
    </table>
</div>

<div class="matrix">
    <table class="matrixtable">
        <tr *ngFor = "let row of protocol.matrix" [ngClass] = "setActiveRow(row)">
            <th *ngFor = "let rowValue of row" headers=rowValue.rowIndex (click)="matrixSelection(rowValue)"
            [ngClass] = "setActiveColumn(rowValue.colIndex)">
                <col class="matrixcolvalue" span={{rowValue.colIndex}}/>
                {{rowValue.value}}
                {{rowValue.rowIndex}}
                {{rowValue.colIndex}}
            </th>
        </tr>
    </table>
</div>
