<!-- <div class = "matrix">
    <table>
        <tbody>
            <tr *ngFor = "let value of board">
                <td>{{value}}</td>
            </tr>
        </tbody>
    </table>
</div>  -->
<div class="buffer">

</div>
<div class="sequences">
    <table class="sequencetable">
        <tr class="sequencerow">
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.firstSequence">
                {{rowValue}}
            </th>
        </tr>
        <tr class="sequencerow">
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.secondSequence">
                {{rowValue}}
            </th>
        </tr>
        <tr class="sequencerow" >
            <th class="sequencerowvalue" *ngFor = "let rowValue of protocol.secondSequence">
                {{rowValue}}
            </th>
        </tr>
    </table>
</div>

<div class="matrix">
    <table class="matrixtable">
        <tr class="matrixrow" *ngFor = "let row of protocol.matrix">
            <th class="matrixrowvalue" *ngFor = "let rowValue of row">
                {{rowValue}}
            </th>
        </tr>
    </table>
</div>
